:root{
     --unitsFontsize: 12px;
     --digitBoxWidth: 25px;
     --exponent: 3;
}

html {
    font-size: 14px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
    background-color: #0063af;
  }
p {
    text-align: center;
}

li {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 3px black;
  }

.field {
    width: 400px;
    height: 20px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}


.hint-container{
    display: flex;
    justify-content:space-around;
    width: 100%;
}

.hint1{
    background-color: #00539f;
    color:  #ffee15;
    text-align: center;
    padding: 20px;
}
/* .hint{
    position: relative;
    flex: 1 1 0; 
    overflow: auto;
} */

table{
    border-collapse: collapse;
    border-spacing: 0;
    columns: var(--exponent);
    display: inline-flex;
    border: 1.5px solid black;
    table-layout: table-cell;
    box-sizing:border-box;
}



th, td {
    border:1px solid black;
    height: 20px;
    background: white;
    text-align: center;
}

td {
    width: var(--digitBoxWidth);
    max-width: var(--digitBoxWidth);
    margin: 0;
    padding: 0;
}

.unitDigit{
    font-weight: bold;
}

.confirmChange{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

p.quest{
    width: 60%;
    margin: 20px, 100px;
    background-color: rgb(0, 98, 255);
    color: rgb(255, 170, 0);
    padding: 10px;
    text-align: center;
    border: 1.5px solid black;
    
}
div.questSpace{
    display:flex;
    justify-content: space-around;
}

div.ok, div.no {
    width: 20%;
    color: black;
    padding: 10px;
    text-align: center;
    border: 1.5px solid black;
}

div.ok{
    background-color:#6efd5efd
}
div.no{
    background-color:#fd5e5efd
}



div.choice{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* <tr id="prefs" >
</tr>
<tr id="digitBoxes">
</tr> */